# Standard Gitignore
.DS_Store
Thumbs.db
*.log

# Dependencies
node_modules/
vendor/

# Environment
# .env (Included for private backup)
.env.backup
.env.production
.phpunit.result.cache

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific (Laravel)
presentation-management/vendor/
presentation-management/node_modules/
# presentation-management/.env (Included for private backup)
presentation-management/storage/*.key
presentation-management/storage/logs/*.log
presentation-management/storage/framework/views/*.php
!presentation-management/storage/framework/views/.gitignore
presentation-management/public/hot
presentation-management/public/storage

# Other sub-projects
MBBank/node_modules/
