version: '3.8'

services:
  app:
    build:
      context: ./presentation-management
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./presentation-management:/var/www/html
    networks:
      - app-network

  web:
    image: nginx:alpine
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./presentation-management:/var/www/html
      - ./VietSpeak:/var/www/vietspeak
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
